.carousel-container {
    display: block;
    position: relative;
    width: 100%;
    height: 87vh;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    cursor: grab;
}

.swiper-slide {
    background-color: #202020;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.slide-cover {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(2, 1, 0, 0.1), rgba(2, 1, 0, 0.3), rgba(2, 1, 0, 0.9) );
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 10px #000000;
    margin-bottom: 0;
    line-height: 1;
}

.swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    background-color: #ffffff;
}

.swiper-button-prev, .swiper-button-next {
    color: #ffffff; 
}

@media all and (max-width: 900px) {
    .carousel-container {
        height: 50vh;
    }
    
    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }

    .swiper-button-prev, .swiper-button-next {
        color: #ffffff; 
    }

    .slide-text {
        margin-bottom: 130px;
    }
}


@media all and (max-width: 750px) {
    .slide-text {
        font-size: 30px;
    }
}

