* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color:#ffffff;
}

section {
    padding: 90px 150px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-cover {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.main-photo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.outlined-words {
    font-size: 35px;
    color: #f8ebd7;
    -webkit-text-stroke: 1px #000;
    text-shadow: none;
    text-shadow:  20px 20px 60px #fce000, -10px -10px 60px #e2ac5a;
}


h3 {
    font-size: 25px;
    font-weight: 500;
    color: #bfbfbf;
    margin-bottom: 60px;
}

.cta {
    color: #ffffff;
    border: 2px solid #f8ebd7;
    background: linear-gradient(to bottom, #f8ebd7, #e2ac5a);
    height: 60px;
    width: 250px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.cta:hover {
    background: #e2ac5a;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.benefits {
    background-color: #202020;
    padding: 50px 90px 90px;
}

.homePageStocks, .all-stocks, .daily {
    background-color: #202020;
}

.benefit {
    padding: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.benefit-icon {
    color:#f8ebd7;
    font-size: 110px;
    height: 110px;
    margin-bottom: 0;
}

.benefit-heading {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}

.upper {
    margin-top: 20px;
}

.benefit-explanation {
    color: #949ea2;
    margin-top: 10px;
    font-size: 18px;
}

.announcement {
    padding: 0;
    background: #202020;
    overflow: hidden;
    border: none;
}

.scrolling-text {
    width: 100%;
    display: flex;
    white-space: nowrap;
    background: transparent;
    border: none;
    color: transparent;
    -webkit-text-stroke: 1px #bfbfbf;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    animation: scrolling 20s infinite normal linear;
}

@keyframes scrolling {
    to {
        transform: translateX(-100%);
    }
}

.start-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 7px;
}

.outlined {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    text-transform: uppercase;
}

.orange{
    color:#e2ac5a;
    font-weight: 700;
}

.description {
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    width: 70%;
    margin: 20px 0px 50px 7px;
}

.learn-more {
    margin: 30px 0px 0px 7px;
}


.black {
    color:#202020;
}

.border-black {
    -webkit-text-stroke: 3px #202020;
}


.gap {
    gap: 15px;
}


.offer-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 10px #e2ac5a;
    margin-bottom: 0;
}

.offer-subheading {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 10px #e2ac5a;
}

.topPhoto-cover {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.point {
    padding: 5px;
    flex-grow: 1;
    flex-basis: 16%;
    margin: 10px 15px;
    background: #ffffff;
}

.stocksBtnGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.filtered-stocks {
    width: 110px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #202020;
    border: 1px solid #202020;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;  
}

.filtered-stocks:hover {
    color: #ffffff;
    background-color: #202020;
}

.detailedStocks-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}



.directions {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 25px;
    color:#848482;
}

.bottom {
    margin-bottom: 10px;
}

.star-icon {
    color:#e2ac5a;
    font-size: 18px;
}

.detailedInfo {
    margin-bottom: 8px;
    font-size: 16px;
}

.moto {
    position: absolute;
    top: 430px;
    right: 0px;
    color:#ffffff;
    background-color: #f8ebd7;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.back {
    background-color: #202020;
    padding-bottom: 50px;
}


.stock-photo {
    width: 300px;
    height: 300px;
    filter: brightness(80%);
    transition: all 0.5s ease-in-out;
}

.stock-photo:hover, .promo-image:hover {
    transform: scale(1.1);
}

.wrap {
    flex-wrap: wrap;
}

.filter-stock {
    margin: 10px 40px 50px;
}

.stock-card {
    margin: 10px;
    overflow: hidden;
}

.classCard-inner, .photo-moto, .realtive {
    position: relative;
}

.stock-name {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#e2ac5a;
    text-shadow: 3px 3px 12px #000;
    position: absolute;
    top: 30px;
    left: 10px;
}

.right-arrow {
    font-size: 30px;
    text-shadow: 3px 3px 12px #000;
    position: absolute;
    top: 28px;
    right: 10px;
    color:#f8ebd7;
}

.detailed-stock {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.detailedStock-cover {
    height: 50vh;
}

.width {
    width: 100%;
}

.heading-cover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
    margin: 0;
    width: 100%;
    height: 100%;
}

.detailedStockPhoto {
    width: 410px;
    height: 410px;
    box-shadow:  1px 1px 5px #e2ac5a, -1px -1px 5px #e2ac5a;
}

.detailedStock-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #202020;
    line-height: 1;
}

.stock-explanation {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0px 50px;
    text-shadow: 2px 2px 8px #202020;
}

.your-fit {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}

.pros {
    background-color: #000;
    padding: 120px 200px 50px;
}


.dash-icon {
    font-size: 30px;
    margin-right: 7px;
}

.middle {
    display: flex;
    align-items: center;
    margin: 7px 0px;
    color: #ffffff;
}

.stock-description {
    background-color: #000;
    padding: 0px 200px 30px;
}

.showMoreBtn {
    border: none;
    background-color: transparent;
    color:#e2ac5a;
    text-decoration: underline;
    padding-left: 5px;
    font-size: 20px;
}

.low, .marginBottom {
    margin-bottom: 40px;
}

.horizontal-line {
    border: 1px solid #f8ebd7;
    margin: 40px 50px 30px;
    opacity: 1;
}

.left {
    text-align: start;
}

.less {
    padding: 0px 300px;
}

.categoryButton {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border: 1px solid #202020;
    background-color: #ffffff;  
    cursor: pointer;
    margin: 0px 5px;
    padding: 10px;
}

.categoryBtnSelected, .categoryBtn:hover {
    color: #ffffff;
    background-color: #202020;
}

.categoryBtn {
    color: #202020;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.item {
    color: #202020;
    width: 300px;
    margin: 10px;
}

.item-image {
    width: 100%;
}

.item-price {
    font-size: 19px;
}

.item-name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.cart {
    background: #ffffff;
    color: #202020;
    position: fixed;
    margin: auto;
    right: 0px;
    top: 75px;
    border: none;
    box-shadow:  2px 2px 10px #bebebe, -2px -2px 10px #bebebe;
    z-index: 99;
    width: 370px;
    font-family: "Poppins", sans-serif;
    transform: translateX(105%);
    transition: transform 0.6s ease;
}

.openCart {
    transform: translateX(0);
}

.total-price, .discount-subheading {
    font-size: 21px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.total-price {
    margin-bottom: 0;
}

.font {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 20px;
}

.flex {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.empty-cart {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0px 20px 13px;
}

.itemPhotoInCart {
    flex: 1;
    margin-right: 15px;
}

.itemInCart {
    flex:2;
}

.addedQuantity {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 12px;
}

.trash-bin {
    position: absolute;
    top: 3px;
    right: 0px;
    cursor: pointer;
    font-size: 19px;
    color: #202020;
    transition: all 0.3s ease-in-out;
}

.trash-bin:hover {
    color: #f8ebd7;
}

.shopItem-container {
    padding: 120px 250px 50px;
}

.itemImage-detailed {
    width: 300px;
    height: 320px;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.detailedItmes-heading {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
}

.detailedItem-name {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

.detailedItem-price {
    font-size: 22px;
}

.item-description {
    color:#848482;
    margin: 20px 0px 20px;
}

.btn {
    --mdb-btn-font-size: 16px;
}

.addedItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.addDeleteBtn {
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #202020;
    background: #E5E4E2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
    position: absolute;
    top: 15px;
    left: -7px;
    padding: 15px 50px;
    font-size: 14px;
    background-color: #f8ebd7;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

.item-tabs {
    margin: 80px 0px 50px;
}

.hr-tabs {
    border: 1px solid #cdcdcd;
    margin: 25px 0px 0px;
}

.shoppingBag-icon {
    font-size: 24px;
    margin-right: 7px;
}

.cart-topLine {
    background-color: #202020;
    color: #ffffff;
    padding: 15px;
}

.flex-relative {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-top {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}

.heading {
        color: #ffffff;
}

.closeCart-icon {
    font-size: 25px;
    position: absolute;
    top:  23px;
    right: 15px;
    cursor: pointer;
}

.itemNameInCart {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.items-number {
    font-size: 14px;
    margin-bottom: 0;
}

.itemTotalPrice {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.clear-cart {
    font-size: 15px;
    color:#e2ac5a;
    text-decoration: underline;
    margin-bottom: 0;
}

.discount {
    background-image: url("../src/assets/discount.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.discount-cover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 0px 10px;
}

.fifteen-container {
    padding: 5px 20px;
    background-color: #e2ac5a;
    margin: 25px 0px 15px;
    box-shadow: 2px 2px 10px #f8ebd7, -2px -2px 10px #f8ebd7;
}

.prices-container {
    padding: 60px 200px;
    background-color: #202226;
    color:#ffffff;
    width: 100%;
}

.unlimited {
    background-color: #ffffff;
    color:#202226;
}

.prices-hr {
    border: 1px solid #ffffff;
    width: 100%;
    margin: 30px 0px 20px;
    opacity: 1;
}

.unlimited-hr {
    border: 1px solid #202226;
}

.wide-hr {
    border: 5px solid #ffffff;
    width: 100%;
    opacity: 1;
}

.unlimitedWide-hr {
    border: 5px solid #202226;
}

.new-sign {
    margin-bottom: 0;
}

.priceStocks-vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}

.unlimitedPriceStocks-vertical {
    margin-top: 42px;
}

.trainings {
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 0;
}

.filter-icon {
    padding-right: 5px;
    font-size: 20px;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-menu {
    height: 250px;
    overflow-y: scroll;
}


.decoration-none {
    text-decoration: none;
}

.unlimitedOldPrice {
    color: #ffffff;
}

.daily-main {
    padding: 80px 250px;
}

.promo-card {
    overflow: hidden;
    width: 500px;
    height: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.promo-image {
    width: 500px;
    filter: brightness(60%);
    transition: all 0.5s ease-in-out;
}

.uppercase {
    text-transform: uppercase;
}

.promo-about {
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.form-feedback {
    padding: 90px 5px 90px;
    background-color: #ffffff;
}

.form-response {
    font-size: 22px;
    margin-top: 30px;
}

.form {
    padding: 80px 200px;
    background-color: #ffffff;
    color:#202020;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
}


.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.input, .textarea {
    height: 50px;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #202020;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.textarea {
    height: 100px;
    padding: 10px;
}

.btn-margin {
    margin: 20px 0px 10px;
}

.private-policy {
    font-size: 14px;
    font-weight: 200;
    color: #202020;
}

.privacy-link {
    color:#202020;
    text-decoration: underline;
}

.privacy-link:hover {
    color:#e2ac5a;
}

.privacy {
    color:#202020;
    padding: 90px 200px 70px;
}

.privacy-heading {
    font-size: 42px;
    margin-bottom: 30px;
    align-self: center;
}

.subheading-policy {
    margin: 30px 0px 10px;
    font-size: 27px;
}

.form-response {
    color:#202226;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 5;
}

.scroll-to-top button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s;
    opacity: .7;
}

.scroll-to-top button:hover{
    opacity: 1;
}

.topBtn-icon, .benefits-button {
    font-size: 50px;
    color:#e2ac5a;
    
}

.woman-photo {
    width: 90%;
}

.flex-one {
    flex:1;
}

.benefits-button:hover {
    color:#e2ac5a;
}

.benefits-flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.example-container {
    position: absolute;
    left: 10px;
    top: 50px;
}

.bottom-padding {
    padding-bottom: 20px;
}


.carousel-root {
    width: 98%;
    margin: 30px 0px;
}

.carousel .slider-wrapper {
    width: 80% !important; 
}

.carousel.carousel-slider {
    width: 80%;
}


.portfolio-link {
    text-decoration: underline;
    color: #fff;
}

.portfolio-link:hover {
    color:#e2ac5a;
    text-decoration: underline;
}

.list-left{
    display: flex;
    flex-wrap: wrap;
}

.list-title{
    font-weight: 600;
    margin-right: 5px; 
    display: inline-block; 
}

@media all and (max-width: 1300px) {
    .daily-main, .form {
        padding: 80px 60px;
    }

    .flex-around {
        flex-wrap: wrap;
        gap: 25px;
    }

    .center-btn {
        align-self: center;
    }
}

@media all and (max-width: 1100px) {
     .detailedStocks-heading {
        padding: 0px 50px;
    }

    .form {
        padding: 70px 50px;
    }

    .prices-container {
        padding: 50px;
    }

    .shopItem-container {
        padding: 120px 50px 50px;
    }

    .section, .privacy {
        padding: 90px 50px;
    }

    .less {
        padding: 0px 90px;
    }
}

@media all and (max-width: 950px) {
    .offer-heading {
        font-size: 30px;
    }

    section {
        padding: 90px 40px;
    }

    h3 {
        padding: 0px 80px;
    }

    .scrolling-text {
        animation: scrolling 14s infinite normal linear;
    }

    .benefits {
        padding: 50px 20px 90px;
    }

    .description {
        width: 100%;
    }

    .gap {
        flex-wrap: wrap;
        gap: 25px;
    }

    .less {
        padding: 0px 80px;
    }

        
    .center, .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .form {
        gap: 0px;
    }

    .input, .textarea {
        width: 95%;
    }

    .bottom-margin {
        margin-bottom: 30px;
    }
    
    .detailedStocks-heading, .detailedItmes-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .detailedItmes-heading {
        padding: 0;
    }

    .stock-description {
        padding: 0px 50px 30px;
    }

    .stocks-column {
        display: flex;
        flex-direction: column;
    }

    .second {
        margin: 120px 0px 20px;
    }

    .discount {
        height: 30vh;
    }
}

@media all and (max-width: 750px) {
    .filter-stock {
        margin: 10px 20px 50px;
    } 


    .detailedStock-cover {
        height: fit-content;
    }

    .detailedStocks-heading {
        padding: 80px 15px 0px;
    }

    .detailedStock-heading {
        font-size: 35px;
    }

    .your-fit, .dash-icon {
        font-size: 19px;
    }

    .dash-icon {
        font-size: 23px;
    }

    .start {
        gap: 30px;
    }
    

    .stock-explanation {
        font-size: 17px;
    }

    .detailedStockPhoto {
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }

    .stock-description {
        padding: 0px 15px 30px;
    }

    .horizontal-line {
        margin: 35px 20px 20px;
    }

    .second {
        margin: 0px;
    }

    .itemImage-detailed {
        width: 100%;
        height: auto;
    }

    .shopItem-container, .privacy {
        padding: 90px 30px 50px;
    }

    .prices-container, .form {
        padding: 50px 20px;
    }


    .filtered-stocks {
        width: 110px;
        height: 50px;
        font-size: 14px; 
    }
}

@media all and (max-width: 540px) {


    .scroll-to-top {
        right: 10px;
        bottom: 20px;
    }

    .daily-main, section {
        padding: 80px 15px;
    }

    .top-cover {
        padding: 0px 20px;
    }

    h2  {
        font-size: 22px;
    }
    
    .outlined-words {
        font-size: 24px;
    }
    
    
    h3 {
        font-size: 20px;
        padding: 0;
    }
    
    .first-trial {
        margin-top: 35px;
    }

    .cta {
        min-height: 50px;
        width: 200px;
        font-size: 16px;
    }

    .benefits {
        padding: 50px 10px 80px;
    }

    .benefit-icon {
        font-size: 90px;
        height: 90px;
    }

    .benefit {
        height: 370px;
    }

    .scrolling-text {
        font-size: 50px;
        animation: scrolling 10s infinite normal linear;
    }

    .section-headings {
        font-size: 40px;
    }

    .description, .offer-subheading {
        font-size: 16px;
    }

    .less {
        padding: 0px 30px;
    }

    .discount {
        height: 40vh;
    }

    .morePadding {
        padding: 0px 30px 30px;
    }

}

@media all and (max-width: 413px) {
.benefits-button {
    font-size: 40px;
}


.specialization {
    font-size: 14px;
}

 .directions {
    font-size: 23px;
}

.directions {
    font-size: 21px;
}


.moto {
    top: 320px;
    padding: 10px;
    font-weight: 600;
}

.shopItem-container {
    padding: 90px 20px 40px;
}

.cart {
    width: 340px;
}
}

@media all and (max-width: 344px) {
    h2 {
        font-size: 18px;
        margin-top: 40px;
    }
    
    .outlined-words {
        font-size: 20px;
    }

    
    h3 {
        font-size: 18px;
    }

    .cart {
        width: 320px;
    }
}