.main-menu {
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
    background:#ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    z-index: 30;
}

.navbar-logo {
    margin-right: auto;
    padding-left: 50px;
}

.company-logo {
    width: 200px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 380px;
    margin-bottom: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-list > .nav-item:hover > .nav-link, .menu ul li:hover {
    color: black;
}

.nav-list > .nav-item:hover > .nav-link::before, .menu ul li:hover .aside-link::before {
    visibility: visible;
    scale: 1 1;
}

.nav-link, .menu ul li .aside-link {
    text-decoration: none;
    color:#bfbfbf;
    position: relative;
    padding: 0px 0px 3px 0px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.nav-link::before, .aside-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}

.aside-link::before {
    height: 2px;
}

.cart-quantity {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.cart-icon {
    color: #bfbfbf;
    border: none;
    font-size: 27px;
}

.cart-btn {
    border: none;
    background: transparent;
}

.quantity {
    margin-left: 10px;
    margin-bottom: 0;
}

.quantity-container {
    width: 20px;
}

.menu-toggle {
    cursor: pointer;
    position: relative;
    z-index: 90;
    display: flex;
}

.menu-toggle.open {
    margin-top: 15px;
}

.column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    background: #020102;
    color:#bfbfbf;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    z-index: 20;
    padding: 85px 5px 10px 40px;
    font-family: "Montserrat", sans-serif;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.2s;
    position: relative;
    margin: 9px 45px 0px 0px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #bfbfbf;
    transition: all 0.5s;
    z-index: 90;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg);
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li .aside-link {
    text-transform: uppercase;
}

.social-links {
    display: flex;
    gap: 20px;
    margin: 20px 0px 30px;
}

.social-icon {
    font-size: 20px;
    color:#bfbfbf;
    transition: all 0.3s ease-in-out;
}

.social-icon:hover {
    color:black;
    transform: scale(1.1);
}

.nav-btn {
    border: 1px solid #bfbfbf;
    min-height: 50px;
    width: 220px;
    padding: 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

.message-link {
    color: black;
    text-decoration: none;
}

.nav-btn:hover {
    background-color: #343334;
}

@media all and (max-width: 1300px) {
    .nav-list {
        gap: 50px;
        margin-right: 200px;
    }
}

@media all and (max-width: 1100px) {
    .nav-list {
        display: none;
    }

    .navbar-logo {
        padding-left: 40px;
    }
}

@media all and (max-width: 540px) {
    .navbar-logo {
        padding-left: 20px;
    }

    .hamburger{
        margin: 7px 20px 0px 0px;
    }

    .menu {
        height: 100vh;
        overflow: scroll;
    }

    .quantity-container {
        width: 10px;
    }
}

@media all and (max-width: 410px) {
    .company-logo {
        width: 150px;
    }
}






